/* /// 
body{
    background: url("images/overlay.png"), url("images/backgrownd.png");
} */
/* Header styles */
#header {
    position: fixed;
    z-index: 100;
    background: rgba(255,255,255,0.95);
    color: #39454b;
    text-align: center;
    /* padding: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.15em 0 rgba(0,0,0,0);
    box-sizing: inherit;
}

#header h1 {
    position: absolute;
    left: 1rem;
    top: 0em;
    height: 3em;
    font-weight: 900;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: ;
}
#header nav{
    display: block;
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
#header nav ul {
    list-style-type: none;
    padding: 0;
    /* margin: 0; */
}

#header nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 0,9em;
    vertical-align: baseline;
    box-sizing: inherit;
}

/* #header nav ul li:last-child {
    margin-right: 0;
} */

#header nav ul li a {
    color: #39454b;
    text-decoration: none;
    height: 3em;
    padding: 0 0.5em 0 0.5em;
    outline: 0;
    margin: 0;
    box-sizing: inherit;
    font-size: 1.2em;
    transition: color 0.3s;
}

#header nav ul li a:hover {
    color: #ddd;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
     #header nav ul {
        display: none;
        text-align: center;
        padding: 10px 0;
        background-color: #222;
    }

    #header nav ul.show {
        display: block;
    }
    
    #header nav ul li {
        display: block;
        margin: 10px 0;
    }
} 

/* Intro */

#intro {
    display: flex;
    flex-direction: column;
    background: url("images/overlay.png"), url("images/backgrownd.png");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
    color: white;
}

/* One */

#one {
    background: url("images/overlay.png"), url("images/light-bulbs-5488573.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
}

/* Two */

#two {
    background: url("images/overlay.png"), url("images/digitization-5140071_1920.jpg");
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    display: flex;
    left: 0px;
}

#two .content{
    max-height: 30em;
}

/* Contact */

#contact {
    overflow: hidden;
    background-color: transparent;
    padding-bottom: 2em;
}

#contact .box {
        -moz-transition: -moz-transform 1s ease;
        -webkit-transition: -webkit-transform 1s ease;
        -ms-transition: -ms-transform 1s ease;
        transition: transform 1s ease;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        position: relative;
    }
    
    #contact.inactive .box {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    @media screen and (max-width: 736px) {

        #contact .box {
            padding: 1.5em 1.5em 2em 1.5em;
        }

    }
    
    @media screen and (max-width: 480px) {
        
        #contact .box {
            padding: 1em 1em 2em 1em;
        }

    }

#profile{
display: flex;
padding-bottom: 2em;
} 

img{
    height: 300px;
    border-radius: 50%;
}

/* Footer styles */
#footer {
   background-color: rgb(from rgb(108, 115, 117) r g b);
   color: white;
   text-align: center;
   bottom: 0;
   left: 0;
   right: 0;
}

#footer .icons {
   display: inline-block;
   /* list-style-type: none; */
   padding: 0;
   margin: 0;
}

#footer .icons li {
   display: inline-block;
   margin-right: 10px;
}

#footer .icons li:last-child {
   margin-right: 0;
}

#footer .icons a {
    opacity: 0.2;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 1.5em;
}

#footer .menu {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

#footer .menu li {
   display: inline-block;
   margin-left: 10px;
}

#footer .menu li:first-child {
   margin-left: 0;
}